<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home - Stock auction</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--SOCKETIO for Sign up-->

    <!-- jQuery JS -->
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script> var socket = io('http://localhost:3000'); </script>
    <script>
        $(document).ready(function () {
            $("#btnActionAuction").click(function () {
                var re = /^[0-9]+(\.[0-9]{1,2})?$/;
                var price = $("#priceAuctionbyUser").val();
                var ownerID = $("#clientOwnerID").val();
                var ownerName = $("#clientOwnerName").val();
                if (!re.test(price)) {
                    $('#error_AuctionPrice').text('Định dạng tiền không đúng!');
                } else {

                    $('#error_AuctionPrice').text('');
                    socket.emit("Client_sent_data_BID", price, ownerID, ownerName);
                }
            });
        });
    </script>
    <!--Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
        rel="stylesheet">

    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <!-- Plugins Import CSS -->
    <link rel="stylesheet" href="css/import.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <link href="css/color/color-1.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizer JS-->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- Pre Loader-->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one">
                </div>
                <div class="object object_two">
                </div>
                <div class="object object_three">
                </div>
            </div>
        </div>
    </div>
    <!-- Body main wrapper start -->
    <div class="wrapper bg-white fix">

        <!-- Header 1-->
        <div class="header-area sticky header-area-1  clearfix">
            <!-- Header Left 1 -->
            <div class="header-left header-left-1 float-left">
                <a href="index.html" class="logo">
                    <img src="img/logo.png" alt="logo" />
                </a>
            </div>
            <!-- Menu Wrapper 1 -->
            <% include element/headerC %>
            <!-- Header Right 1 -->
            <div class="header-right header-right-1 float-right">
                <!-- Account Menu -->
                <div class="account-menu account-menu-1 float-right">
                    <button data-toggle="dropdown" class="acc-menu-toggle"><i class="zmdi zmdi-settings"></i></button>
                    <ul class="acc-menu-dropdown dropdown-menu right">
                        <li>
                            <a href="#">Thông tin cá nhân</a>
                        </li>
                        <li>
                            <a href="#">Lịch sử đấu giá</a>
                        </li>
                        <li>
                            <a href="#">Xem chi tiết hoá đơn</a>
                        </li>
                        <li>
                            <a href="#">Đăng xuất</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Mobile Menu Wrapper 1 -->
            <div class="mobile-menu-wrapper mobile-menu-wrapper-1 hidden-md hidden-lg">
                <div class="mobile-menu mobile-menu-1">
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="index.html">TRANG CHỦ</a>
                            </li>
                            <li>
                                <a>LOẠI</a>
                                <ul>
                                    <li>
                                        <a href="product-page.html">CÁC LOẠI</a>
                                        <ul>
                                            <li>
                                                <a href="product-page.html">CÁC LOẠI</a>
                                            </li>
                                            <li>
                                                <a href="product-page.html">Xe cộ</a>
                                            </li>
                                            <li>
                                                <a href="product-page.html">Đồ nội thất</a>
                                            </li>
                                            <li>
                                                <a href="product-page.html">Đồ điện tử</a>
                                            </li>
                                            <li>
                                                <a href="product-page.html">Thời trang</a>
                                            </li>
                                            <li>
                                                <a href="product-page.html">Giày</a>
                                            </li>
                                            <li>
                                                <a href="product-page.html">Đồ cổ</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>Tìm theo</a>
                                        <ul>
                                            <li>
                                                <a href="product-page.html">Tên</a>
                                            </li>
                                            <li>
                                                <a href="product-page.html">Thời gian</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Chính sách</a>
                                <ul>
                                    <li>
                                        <a href="#">Chính sách đấu giá</a>
                                    </li>
                                    <li>
                                        <a href="#">Chính sách giao hàng</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Liện hệ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Home Slider -->
        <div class="single-product-area pb-90 pt-90">
            <div class="container">
                <% var date = new Date(_uG.auction.startDate); %>
                <% var nowdate = new Date(); %>
                <% if((nowdate.getTime() - date.getTime()) > 0){ %>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="single-product-wrap border">
                            <div class="single-product-image">
                                <div class="product-big-image tab-content">
                                    <div class="tab-pane active" id="pro-img-1">
                                        <img src="img/product/1.jpg" alt="" />
                                        <a class="pro-img-popup" href="img/product/1.jpg"><i
                                                class="zmdi zmdi-search"></i></a>
                                    </div>
                                    <h4><strong><%= _uG.productName %></strong></h4>
                                    <h5><strong>Sở hữu: <p style="text-transform: uppercase;"><i><%= _uG.owner %></i>
                                            </p></strong></h5>
                                    <input type="hidden" id="clientOwnerID" value="<%= _uG.id %>">
                                    <input type="hidden" id="clientOwnerName" value="<%= _uG.owner %>">
                                </div>
                            </div>
                            <div class="single-product-content fix">
                                <h3 class="single-pro-title"><%= _uG.auction.auctionName %></h3>
                                <div class="single-product-price-ratting fix">
                                    <p class="pro-ratting float-left"><span class="timer timer1"
                                            data-seconds-left="<%= _uG.auction.timeRun - ((nowdate.getTime() - date.getTime())/1000) %>">Còn&nbsp;</span>
                                    </p>
                                </div>
                                <div class="single-product-price-ratting fix">
                                    <p style="font-weight: bold;">Giá hiện tại:</p>
                                    <h3 class="single-pro-price float-left">
                                        <p class="new" style="color: red;"><%= _uG.auction.startPrice %></p>
                                    </h3>
                                </div>
                                <div class="single-product-price-ratting fix">
                                    <p style="margin-bottom: 0px;">Giá trước đó:</p>
                                    <h3 class="single-pro-price float-left">
                                        <p class="old">00.000 VNĐ</p>
                                    </h3>
                                </div>
                                <div class="single-product-price-ratting fix">
                                    <p style="margin: 0px; font-style: italic; margin-top: 10px;">User đang giữ giá cao
                                        nhất:</p>
                                    <h3 class="single-pro-price float-left" style="color: #ff9900;">
                                        <span><i class="zmdi zmdi-star" style="font-size: 20px;">&nbsp</i></span><span>
                                            <p style="font-weight: bold; font-size: 14px;">Chưa có</p>
                                        </span>
                                    </h3>
                                </div>
                                <p><%= _uG.productDescribe %></p>
                                <div class="single-pro-size-1">
                                    <h5>Tăng hơn so với giá hiện tại (nghìn)</h5>
                                    <br>
                                    <div class="pro-qty float-left">
                                        <input value="0" name="qtybutton" class="cart-plus-minus-box" type="text"
                                            id="priceAuctionbyUser">
                                    </div>
                                </div>
                                <label id="error_AuctionPrice"
                                    style="text-transform: inherit;font-style: italic;color: red;font-size: 13px;font-weight: 400;"></label>
                                <div class="single-product-action-quantity fix">
                                    <div class="pro-details-action float-left">
                                        <button class="pro-details-act-btn btn-text active" id="btnActionAuction"><i
                                                class="zmdi zmdi-case"></i>Đấu giá</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 mt-40">
                            <div class="pro-details-tab-container fix">
                                <ul class="pro-details-tablist fix">
                                    <li class="active">
                                        <a href="#description" data-toggle="tab">Đang tham gia</a>
                                    </li>
                                </ul>
                                <div class="tab-content fix">
                                    <!-- Product Info Tab -->
                                    <div id="description" class="pro-details-tab pro-dsc-tab tab-pane active">
                                        <ul style="font-weight: bold; line-height: 40px;">
                                            <li style="float: left; margin-right: 50px;"><i
                                                    class="zmdi zmdi-account-circle"></i>&nbsp<span>Nguyễn Văn A</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }else{ %>
                <h3><strong style="color: red;">Sản phẩm chưa được khởi động đấu giá, cùng chờ nhé!</strong></h3>
                <% } %>
            </div>
        </div>
        <!-- Bootstrap JS -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Plugins JS -->
        <script src="js/plugins.js"></script>
        <!-- Main JS -->
        <script src="js/main.js"></script>
        <script src="js/countdown.js"></script>
</body>

</html>