<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home - Stock auction</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--SOCKETIO for Sign up-->
    <script src="socket.io/socket.io.js"></script>
    <script> var socket = io('http://3.86.166.71:3000'); </script>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- Google Fonts -->
    <link href="css/googleapisFont.css" rel="stylesheet">

    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <!-- Plugins Import CSS -->
    <link rel="stylesheet" href="css/import.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <link href="css/color/color-1.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizer JS-->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!-- Pre Loader-->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one">
                </div>
                <div class="object object_two">
                </div>
                <div class="object object_three">
                </div>
            </div>
        </div>
    </div>
    <!-- Body main wrapper start -->
    <div class="wrapper bg-white fix">
        <!-- Header 1-->
        <div class="header-area sticky header-area-1  clearfix">
            <!-- Header Left 1 -->
            <div class="header-left header-left-1 float-left">
                <a href="/" class="logo">
                    <img src="img/logo.png" alt="logo" />
                </a>
            </div>
            <!-- Menu Wrapper 1 -->
            <div class="menu-wrapper menu-wrapper-1 hidden-sm hidden-xs text-center">
                <div class="menu menu-1">
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="/">TRANG CHỦ</a>
                            </li>
                            <li>
                                <a>LOẠI</a>
                                <div class="mega-menu">
                                    <ul>
                                        <li>
                                            <a href="/">CÁC LOẠI</a>
                                        </li>
                                        <li>
                                            <a href="/sanpham?loai=xeco&sapxep=&tinhtrang=all">Xe cộ</a>
                                        </li>
                                        <li>
                                            <a href="/sanpham?loai=donoithat&sapxep=&tinhtrang=all">Đồ nội thất</a>
                                        </li>
                                        <li>
                                            <a href="/sanpham?loai=dodienthu&sapxep=&tinhtrang=all">Đồ điện tử</a>
                                        </li>
                                        <li>
                                            <a href="/sanpham?loai=thoitrang&sapxep=&tinhtrang=all">Thời trang</a>
                                        </li>
                                        <li>
                                            <a href="/sanpham?loai=giay&sapxep=&tinhtrang=all">Giày</a>
                                        </li>
                                        <li>
                                            <a href="/sanpham?loai=doco&sapxep=&tinhtrang=all">Đồ cổ</a>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <a href="#">TÌM THEO</a>
                                        </li>
                                        <li>
                                            <a href="/sanpham?loai=&sapxep=ten&tinhtrang=all">Tên</a>
                                        </li>
                                        <li>
                                            <a href="/sanpham?loai=doco&sapxep=thoigian&tinhtrang=all">Thời gian</a>
                                        </li>
                                    </ul>
                                    <div class="menu-banner">
                                        <a href="#">
                                            <img src="img/menu-banner.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a>Tình trạng</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="/sanpham?loai=&sapxep=&tinhtrang=dangdaugia">Đang đấu giá</a>
                                    </li>
                                    <li>
                                        <a href="/sanpham?loai=&sapxep=&tinhtrang=chuadaugia">Đã lên sàng</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Chính sách</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Chính sách đấu giá</a>
                                    </li>
                                    <li>
                                        <a href="#">Chính sách giao hàng</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/contact">Liên hệ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Header Right 1 -->
            <div class="header-right header-right-1 float-right">
                <!-- Account Menu -->
                <div class="account-menu account-menu-1 float-right">
                    <button data-toggle="dropdown" class="acc-menu-toggle"><i class="zmdi zmdi-settings"><span style="font-family: 'Open Sans', sans-serif; font-weight: bold; text-transform: uppercase; font-size: 14px; line-height: 20px;"> Menu</span></i></button>
                    <% if(booleanB){ %>
                    <ul class="acc-menu-dropdown dropdown-menu right">
                        <li><form action="lichsudaugia" method="POST" id="FormLSDG"><input type="hidden" value="<%= userID %>"><a href="#" id="submitFormLSDG">Xem lịch sử đấu giá</a></form></li>
                        <li><a href='/logout'>Đăng xuất</a></li>
                    </ul>
                    <% }else{ %>
                    <ul class="acc-menu-dropdown dropdown-menu right">
                        <li><a href='/login'>Đăng nhập</a></li>
                    </ul>
                    <% } %>
                </div>
            </div>
            <!-- Mobile Menu Wrapper 1 -->
            <div class="mobile-menu-wrapper mobile-menu-wrapper-1 hidden-md hidden-lg">
                <div class="mobile-menu mobile-menu-1">
                    <nav>
                        <ul>
                            <li class="active">
                                <a href="index.html">TRANG CHỦ</a>
                            </li>
                            <li>
                                <a>LOẠI</a>
                                <ul>
                                    <li>
                                        <a href="/">CÁC LOẠI</a>
                                        <ul>
                                            <li>
                                                <a href="/sanpham?loai=xeco&sapxep=&tinhtrang=all">Xe cộ</a>
                                            </li>
                                            <li>
                                                <a href="/sanpham?loai=donoithat&sapxep=&tinhtrang=all">Đồ nội thất</a>
                                            </li>
                                            <li>
                                                <a href="/sanpham?loai=dodienthu&sapxep=&tinhtrang=all">Đồ điện tử</a>
                                            </li>
                                            <li>
                                                <a href="/sanpham?loai=thoitrang&sapxep=&tinhtrang=all">Thời trang</a>
                                            </li>
                                            <li>
                                                <a href="/sanpham?loai=giay&sapxep=&tinhtrang=all">Giày</a>
                                            </li>
                                            <li>
                                                <a href="/sanpham?loai=doco&sapxep=&tinhtrang=all">Đồ cổ</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a>Tìm theo</a>
                                        <ul>
                                            <li>
                                                <a href="/sanpham?loai=&sapxep=ten&tinhtrang=all">Tên</a>
                                            </li>
                                            <li>
                                                <a href="/sanpham?loai=doco&sapxep=thoigian&tinhtrang=all">Thời gian</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Chính sách</a>
                                <ul>
                                    <li>
                                        <a href="#">Chính sách đấu giá</a>
                                    </li>
                                    <li>
                                        <a href="#">Chính sách giao hàng</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/contact">Liện hệ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Home Slider -->
        <div class="slider-area-1 top-header-space-1  pb-10">
            <div id="mainSlider-1" class="nivoSlider slider-image">
                <a href="#">
                    <img src="img/slider/1.jpg" alt="main slider" />
                </a>
                <a href="#">
                    <img src="img/slider/2.jpg" alt="main slider" />
                </a>
                <a href="#">
                    <img src="img/slider/3.jpg" alt="main slider" />
                </a>
            </div>
        </div>
        <!-- Shipping Area -->
        <div class="shipping-area  pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12" style="background: beige;">
                        <div class="shipping-wrapper-1">
                            <!-- Single Shipping -->
                            <div class="sin-shipping-1 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-2 col-xs-2">
                                <a href="#">
                                    <div class="icon float-left">
                                        <a href="/sanpham?loai=xeco&sapxep=&tinhtrang=all"><i
                                                class="zmdi zmdi-car"></i></a>
                                    </div>
                                </a>
                            </div>
                            <!-- Single Shipping -->
                            <div class="sin-shipping-1 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-2 col-xs-2">
                                <a href="#">
                                    <div class="icon float-left">
                                        <a href="/sanpham?loai=donoithat&sapxep=&tinhtrang=all"><i
                                                class="zmdi zmdi-seat"></i></a>
                                    </div>
                                </a>
                            </div>
                            <!-- Single Shipping -->
                            <div class="sin-shipping-1 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-2 col-xs-2">
                                <a href="#">
                                    <div class="icon float-left">
                                        <a href="/sanpham?loai=dodienthu&sapxep=&tinhtrang=all"><i
                                                class="zmdi zmdi-headset"></i></a>
                                    </div>
                                </a>
                            </div>
                            <div class="sin-shipping-1 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-2 col-xs-2">
                                <a href="#">
                                    <div class="icon float-left">
                                        <a href="/sanpham?loai=thoitrang&sapxep=&tinhtrang=all"><i
                                                class="zmdi zmdi-accounts"></i></a>
                                    </div>
                                </a>
                            </div>
                            <!-- Single Shipping -->
                            <div class="sin-shipping-1 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-2 col-xs-2">
                                <a href="#">
                                    <div class="icon float-left">
                                        <a href="/sanpham?loai=giay&sapxep=&tinhtrang=all"><i
                                                class="zmdi zmdi-shopping-basket"></i></a>
                                    </div>
                                </a>
                            </div>
                            <!-- Single Shipping -->
                            <div class="sin-shipping-1 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-2 col-xs-2">
                                <a href="#">
                                    <div class="icon float-left">
                                        <a href="/sanpham?loai=doco&sapxep=&tinhtrang=all"><i
                                                class="zmdi zmdi-group-work"></i></a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Page -->
        <div class="page-area pb-20 pt-20">
            <div class="container">
                <div class="row">
                    <!-- Shop Top Bar -->
                    <div class="shop-top-bar text-center mb-50 col-xs-12">
                        <!-- Product View Mode -->
                        <ul class="view-mode float-left text-left">
                            <li class="active">
                                <a href="#grid-view" data-toggle="tab"><i class="zmdi zmdi-apps"></i></a>
                            </li>
                            <li>
                                <a href="#list-view" data-toggle="tab"><i class="zmdi zmdi-view-list"></i></a>
                            </li>
                        </ul>
                        <!-- Product Short By -->
                        <div class="pro-short-by text-left">
                            <p>Sắp xếp theo: </p>
                            <select>
                                <option value="1">Thời gian</option>
                                <option value="2">Tên</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="product-tab-content tab-content">
                        <div class="product-tab tab-pane active" id="grid-view">
                            <!--START Content PAGE PRODUCT-->
                            <% _uG.forEach((item) => { %>
                            <% var nowdate = new Date(); %>
                            <% var date = new Date(item.auction.startDate); %>
                            <% if(nowdate.getTime() - date.getTime() < item.auction.timeRun*1000){ %>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="sin-product">
                                    <div class="pro-image fix">
                                        <a href="/sanphamdaugia?sanpham=<%=item.productID%>&owner=<%=item.ownerName%>&ownerid=<%=item.id%>"
                                            class="image">
                                            <img src="http://abctestsdsd.s3.amazonaws.com/<%=item.productImage%>" alt="">
                                        </a>
                                        <div class="pro-action">
                                            <a href="/sanphamdaugia?sanpham=<%=item.productID%>&owner=<%=item.ownerName%>&ownerid=<%=item.id%>"
                                                class="action-btn wishlist"><i class="zmdi zmdi-mouse"></i></a>
                                        </div>
                                            <br>1. Năm HT: <%= nowdate.getFullYear() %>/<%= nowdate.getMonth() %>/<%= nowdate.getDate() %> - <%= nowdate.getHours() %>/<%= nowdate.getMinutes() %>
                                            <br>2. Năm DG: <%= date.getFullYear() %>/<%= date.getMonth() %>/<%= date.getDate() %> - <%= date.getHours() %>/<%= date.getMinutes() %>
                                    </div>
                                    <div class="pro-details text-center">
                                        <% if((date.getTime() - nowdate.getTime() + 1000*60*60*24 ) > 0){ %>
                                        <div class="top fix">
                                            <p class="pro-cat float-left">Xe</p>
                                            <p class="pro-ratting float-right">
                                                <!--Format time-->
                                                <% if(date.getHours() < 10){ %>
                                                <% if(date.getMinutes() < 10){ %>
                                                <% if(date.getDate() < 10){ %>
                                                <% if((date.getMonth() + 1) < 10){ %>
                                                <span style="color:green;">Giờ:
                                                    0<%=date.getHours()%>:0<%=date.getMinutes()%> - Ngày:
                                                    0<%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% }else{ %>
                                                <span style="color:green;">Giờ:
                                                    0<%=date.getHours()%>:0<%=date.getMinutes()%> - Ngày:
                                                    0<%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% } %>
                                                <% }else{ %>
                                                <% if((date.getMonth() + 1) < 10){ %>
                                                <span style="color:green;">Giờ:
                                                    0<%=date.getHours()%>:0<%=date.getMinutes()%> - Ngày:
                                                    <%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% }else{ %>
                                                <span style="color:green;">Giờ:
                                                    0<%=date.getHours()%>:0<%=date.getMinutes()%> - Ngày:
                                                    <%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% } %>
                                                <% } %>
                                                <% }else{ %>
                                                <% if(date.getDate() < 10){ %>
                                                <% if((date.getMonth() + 1) < 10){ %>
                                                <span style="color:green;">Giờ:
                                                    0<%=date.getHours()%>:<%=date.getMinutes()%> - Ngày:
                                                    0<%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% }else{ %>
                                                <span style="color:green;">Giờ:
                                                    0<%=date.getHours()%>:<%=date.getMinutes()%> - Ngày:
                                                    0<%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% } %>
                                                <% }else{ %>
                                                <% if((date.getMonth() + 1) < 10){ %>
                                                <span style="color:green;">Giờ:
                                                    0<%=date.getHours()%>:<%=date.getMinutes()%> - Ngày:
                                                    <%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% }else{ %>
                                                <span style="color:green;">Giờ:
                                                    0<%=date.getHours()%>:<%=date.getMinutes()%> - Ngày:
                                                    <%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% } %>
                                                <% } %>
                                                <% } %>
                                                <% }else{ %>
                                                <% if(date.getMinutes() < 10){ %>
                                                <% if(date.getDate() < 10){ %>
                                                <% if((date.getMonth() + 1) < 10){ %>
                                                <span style="color:green;">Giờ:
                                                    <%=date.getHours()%>:0<%=date.getMinutes()%> - Ngày:
                                                    0<%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% }else{ %>
                                                <span style="color:green;">Giờ:
                                                    <%=date.getHours()%>:0<%=date.getMinutes()%> - Ngày:
                                                    0<%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% } %>
                                                <% }else{ %>
                                                <% if((date.getMonth() + 1) < 10){ %>
                                                <span style="color:green;">Giờ:
                                                    <%=date.getHours()%>:0<%=date.getMinutes()%> - Ngày:
                                                    <%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% }else{ %>
                                                <span style="color:green;">Giờ:
                                                    <%=date.getHours()%>:0<%=date.getMinutes()%> - Ngày:
                                                    <%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% } %>
                                                <% } %>
                                                <% }else{ %>
                                                <% if(date.getDate() < 10){ %>
                                                <% if((date.getMonth() + 1) < 10){ %>
                                                <span style="color:green;">Giờ:
                                                    <%=date.getHours()%>:<%=date.getMinutes()%> - Ngày:
                                                    0<%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% }else{ %>
                                                <span style="color:green;">Giờ:
                                                    <%=date.getHours()%>:<%=date.getMinutes()%> - Ngày:
                                                    0<%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% } %>
                                                <% }else{ %>
                                                <% if((date.getMonth() + 1) < 10){ %>
                                                <span style="color:green;">Giờ:
                                                    <%=date.getHours()%>:<%=date.getMinutes()%> - Ngày:
                                                    <%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% }else{ %>
                                                <span style="color:green;">Giờ:
                                                    <%=date.getHours()%>:<%=date.getMinutes()%> - Ngày:
                                                    <%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                                <% } %>
                                                <% } %>
                                                <% } %>
                                                <% } %>
                                                <!--Format time-->
                                            </p>
                                        </div>
                                        <div style="color:green;">
                                            <a href="/sanphamdaugia?sanpham=<%=item.productID%>"
                                                class="pro-title"><%= item.productName%></a>
                                            <i class="zmdi zmdi-chart"></i><span>&nbsp;Sắp đấu giá</span>
                                        </div>
                                        <% }else { %>
                                        <div class="top fix">
                                            <p class="pro-cat float-left">Xe</p>
                                            <p class="pro-ratting float-right">
                                                <span class="timer"
                                                    data-seconds-left="<%= item.auction.timeRun - ((nowdate.getTime() - date.getTime())/1000) %>">Còn&nbsp;</span>
                                            </p>
                                        </div>
                                        <div style="color:red;">
                                            <a href="/sanphamdaugia?sanpham=<%=item.productID%>&owner=<%=item.ownerName%>&ownerid=<%=item.id%>"
                                                class="pro-title"><%= item.productName %></a>
                                            <i class="zmdi zmdi-chart"></i><span>&nbsp;Đang đấu giá</span>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <% }); %>
                            <!--END Content PAGE PRODUCT-->
                        </div>
                        <div class="product-tab tab-pane" id="list-view">
                            <!--START Content PAGE PRODUCT-->
                            <% _uG.forEach((item) => { %>
                            <% var date = new Date(item.auction.startDate); %>
                            <% var nowdate = new Date(); %>
                            <% if((nowdate.getTime() - date.getTime()) < item.auction.timeRun*1000){ %>
                            <div class="sin-list-product clearfix">
                                <div class="pro-image col-md-3 col-sm-5 col-xs-12">
                                    <a href="#" class="image fix">
                                        <img src="http://abctestsdsd.s3.amazonaws.com/<%=item.productImage%>" alt="" />
                                    </a>
                                    <div class="pro-action">
                                        <a href="/sanphamdaugia?sanpham=<%=item.productID%>&owner=<%=item.ownerName%>&ownerid=<%=item.id%>"
                                            class="action-btn wishlist"><i class="zmdi zmdi-mouse"></i></a>
                                    </div>
                                </div>
                                <div class="list-pro-details col-md-9 col-sm-7 col-xs-12">
                                    <% if((date.getTime() - nowdate.getTime()) > 0){ %>
                                    <div class="top fix">
                                        <div style="color:green;">
                                            <a href="/sanphamdaugia?sanpham=<%=item.productID%>&owner=<%=item.ownerName%>&ownerid=<%=item.id%>"
                                                class="pro-title"><%= item.productName %></a>
                                            <i class="zmdi zmdi-chart"></i><span>&nbsp;Sắp đấu giá</span>
                                        </div>
                                        <p class="pro-ratting float-right">
                                            <!--Format time-->
                                            <% if(date.getHours() < 10){ %>
                                            <% if(date.getMinutes() < 10){ %>
                                            <% if(date.getDate() < 10){ %>
                                            <% if((date.getMonth() + 1) < 10){ %>
                                            <span style="color:green;">Giờ:
                                                0<%=date.getHours()%>:0<%=date.getMinutes()%> - Ngày:
                                                0<%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% }else{ %>
                                            <span style="color:green;">Giờ:
                                                0<%=date.getHours()%>:0<%=date.getMinutes()%> - Ngày:
                                                0<%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% } %>
                                            <% }else{ %>
                                            <% if((date.getMonth() + 1) < 10){ %>
                                            <span style="color:green;">Giờ:
                                                0<%=date.getHours()%>:0<%=date.getMinutes()%> - Ngày:
                                                <%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% }else{ %>
                                            <span style="color:green;">Giờ:
                                                0<%=date.getHours()%>:0<%=date.getMinutes()%> - Ngày:
                                                <%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% } %>
                                            <% } %>
                                            <% }else{ %>
                                            <% if(date.getDate() < 10){ %>
                                            <% if((date.getMonth() + 1) < 10){ %>
                                            <span style="color:green;">Giờ: 0<%=date.getHours()%>:<%=date.getMinutes()%>
                                                - Ngày:
                                                0<%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% }else{ %>
                                            <span style="color:green;">Giờ: 0<%=date.getHours()%>:<%=date.getMinutes()%>
                                                - Ngày:
                                                0<%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% } %>
                                            <% }else{ %>
                                            <% if((date.getMonth() + 1) < 10){ %>
                                            <span style="color:green;">Giờ: 0<%=date.getHours()%>:<%=date.getMinutes()%>
                                                - Ngày:
                                                <%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% }else{ %>
                                            <span style="color:green;">Giờ: 0<%=date.getHours()%>:<%=date.getMinutes()%>
                                                - Ngày:
                                                <%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% } %>
                                            <% } %>
                                            <% } %>
                                            <% }else{ %>
                                            <% if(date.getMinutes() < 10){ %>
                                            <% if(date.getDate() < 10){ %>
                                            <% if((date.getMonth() + 1) < 10){ %>
                                            <span style="color:green;">Giờ: <%=date.getHours()%>:0<%=date.getMinutes()%>
                                                - Ngày:
                                                0<%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% }else{ %>
                                            <span style="color:green;">Giờ: <%=date.getHours()%>:0<%=date.getMinutes()%>
                                                - Ngày:
                                                0<%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% } %>
                                            <% }else{ %>
                                            <% if((date.getMonth() + 1) < 10){ %>
                                            <span style="color:green;">Giờ: <%=date.getHours()%>:0<%=date.getMinutes()%>
                                                - Ngày:
                                                <%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% }else{ %>
                                            <span style="color:green;">Giờ: <%=date.getHours()%>:0<%=date.getMinutes()%>
                                                - Ngày:
                                                <%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% } %>
                                            <% } %>
                                            <% }else{ %>
                                            <% if(date.getDate() < 10){ %>
                                            <% if((date.getMonth() + 1) < 10){ %>
                                            <span style="color:green;">Giờ: <%=date.getHours()%>:<%=date.getMinutes()%>
                                                - Ngày:
                                                0<%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% }else{ %>
                                            <span style="color:green;">Giờ: <%=date.getHours()%>:<%=date.getMinutes()%>
                                                - Ngày:
                                                0<%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% } %>
                                            <% }else{ %>
                                            <% if((date.getMonth() + 1) < 10){ %>
                                            <span style="color:green;">Giờ: <%=date.getHours()%>:<%=date.getMinutes()%>
                                                - Ngày:
                                                <%=date.getDate()%>/0<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% }else{ %>
                                            <span style="color:green;">Giờ: <%=date.getHours()%>:<%=date.getMinutes()%>
                                                - Ngày:
                                                <%=date.getDate()%>/<%=(date.getMonth() + 1)%>/<%=date.getFullYear()%></span>
                                            <% } %>
                                            <% } %>
                                            <% } %>
                                            <% } %>
                                            <!--Format time-->
                                        </p>
                                    </div>
                                    <div class="list-pro-dec">
                                        <p> <%= item.productDescribe %> </p>
                                    </div>
                                    <% }else { %>
                                    <div class="top fix">
                                        <div style="color:red;">
                                            <a href="/sanphamdaugia?sanpham=<%=item.productID%>&owner=<%=item.ownerName%>&ownerid=<%=item.id%>"
                                                class="pro-title"><%= item.productName %></a>
                                            <i class="zmdi zmdi-chart"></i><span>&nbsp;Đang đấu giá</span>
                                        </div>
                                        <p class="pro-ratting float-right">
                                            <span class="timer"
                                                data-seconds-left="<%= item.auction.timeRun - ((nowdate.getTime() - date.getTime())/1000) %>">Còn&nbsp;</span>
                                        </p>
                                    </div>
                                    <div class="list-pro-dec">
                                        <p> <%= item.productDescribe %> </p>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <% } %>
                            <% }); %>
                            <!--END Content PAGE PRODUCT-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Top Area -->
        <div class="footer-top-area pb-70 pt-150">
            <div class="container">
                <div class="row">
                    <div class="footer-contact col-md-8 col-sm-6 col-xs-12">
                        <img src="img/logo-2.png" alt="" />
                        <div>
                            <span>Địa chỉ :</span>
                            <p>12 Nguyễn Văn Bảo, phường 04, quận Gò Vấp, HCM</p>
                        </div>
                        <div>
                            <span>Hotline :</span>
                            <p>+84 000 0000</p>
                        </div>
                        <div>
                            <span>Email :</span>
                            <a href="#">contact-company@stock.com</a>
                        </div>
                        <div class="footer-social fix">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                    <div class="footer-shipping col-md-2 col-sm-3 col-xs-6">
                        <h4>CÁC LOẠI</h4>
                        <ul>
                            <li>
                                <a href="#">Xe cộ</a>
                            </li>
                            <li>
                                <a href="#">Đồ nội thất</a>
                            </li>
                            <li>
                                <a href="#">Đồ điện tử</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-shipping col-md-2 col-sm-3 col-xs-6">
                        <h4>
                        </h4>
                        <ul>
                            <li>
                                <a href="#">Thời trang</a>
                            </li>
                            <li>
                                <a href="#">Giày</a>
                            </li>
                            <li>
                                <a href="#">Đồ cổ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery JS -->
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="js/plugins.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>
    <!-- partial -->
    <script src='js/jquery-3.3.1.slim.min.js'></script>
    <script src="js/countdown.js"></script>
    <script>
        $("#submitFormLSDG").click(function (){
            $("#FormLSDG").submit();
        })
    </script>
</body>

</html>