<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin site</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='js/jquery.min.js'></script>
    <!--SOCKETIO for Sign up-->
    <script src="socket.io/socket.io.js"></script>
    <script> var socket = io('http://3.86.166.71:3000'); </script>
    <script>
        $(document).ready(function () {
            $("#addProductBtn").click(function () {
                socket.emit("Client_sent_data_list_category");
                socket.on("Server_sent_data_list_category", function (data) {
                    var count = 0;
                    data.forEach(item => {
                        if (item.isStatus == true)
                            count++;
                    });
                    if (count == 0) {
                        $("#formADD").replaceWith("<h3><strong style='color:red;'>Chưa có loại sản phẩm nào tồn tại!</strong></h3><br><p>Đợi người quản trị thêm loại sản phẩm để thêm sản phẩm!</p>");
                    } else {
                        var html = $("#listCaterory").val();
                        if (html == null) {
                            data.forEach(element => {
                                $("#listCaterory").append("<option id=" + element.categoryID + ">" + element.categoryName + "</option>");
                            });
                        }
                    }
                });
            })
        });
    </script>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts -->
    <link href="css/googleapisFont.css" rel="stylesheet">
    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/bootstrap-datetimepicker.css'>
    <!-- Icon Font CSS-->
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <!-- Plugins Import CSS -->
    <link rel="stylesheet" href="css/import.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <link href="css/color/color-1.css" rel="stylesheet">
    <link rel="stylesheet" href="css/addNews.css">
    <link rel="stylesheet" href="css/swiper.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <!-- Modernizer JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Delete CSS -->
    <link rel="stylesheet" href="css/styleDel.css">
</head>

<body>
    <!-- Pre Loader -->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one">
                </div>
                <div class="object object_two">
                </div>
                <div class="object object_three">
                </div>
            </div>
        </div>
    </div>
    <!-- Body main wrapper start -->
    <div class="wrapper bg-white fix">
        <!-- Header 4 --> <% include element/header %>
        <!-- Cart Area -->
        <div class="cart-area pt-90 mt-100">
            <div class="container">
                <div class="row">
                    <!---->
                    <div class="procced-checkout col-md-12 col-xs-12">
                        <button class="btn btn-open checkout-link" data-toggle="modal" data-target="#modalAddProduct" id="addProductBtn"><span>Thêm sản phẩm đấu giá</span></button>
                    </div>
                    <div id="modalAddProduct" class="modal fade" role="dialog" style="z-index: 2000;">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title"><strong>THÊM SẢN PHẨM ĐẤU GIÁ</strong></h4>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="/createproduct" id="formADD" enctype="multipart/form-data">
                                        <input type='hidden' name='categoryID' id='categoryID_txt'>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Tên sản phẩm</label>
                                            <input name="productName" id="productName_txt" type="text" onblur="checkproductName(this.value)" class="txtEdit">
                                        </div>
                                        <label id="error_productName" class="error-label"></label>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Chọn loại sản phẩm</label>
                                            <select name="categoryName" id="listCaterory" class="txtEdit" style="margin-bottom: 25px;"></select>
                                        </div>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Mô tả<br><i style="color: green;">Mô tả ngắn về xuất xứ, tình trạng sản phẩm</i></label>
                                            <input name="productDescribe" id="productDescribe_txt" type="text" onblur="checkproductDescribe(this.value)" class="txtEdit">
                                        </div>
                                        <label id="error_productDescribe" class="error-label"></label>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Chọn hình ảnh <br><i style="color: green;">Các file có đuôi gif|jpg|jpeg|tiff|png và kích thước nhỏ hơn 2MB</i></label>
                                            <input type="file" id="productImage" name="productImage" accept="image/x-png,image/gif,image/jpeg" class="txtEdit">
                                        </div>
                                        <label id="error_productImage" class="error-label"></label>
                                        <button class="btnModal" type="button" id="submitAddProduct"><span>Xác nhận</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal EDIT -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index: 2000;">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title"><strong>Chỉnh sửa sản phẩm</strong></h4>
                                </div>
                                <div class="modal-body">
                                    <form action="/editProduct" style="margin: 20px;" id="formEdit">
                                        <input name="owner" id="businessNameEdit" type="hidden">
                                        <input name="id" id="businessIDEdit" type="hidden">
                                        <input name="productID" id="productIDEdit" type="hidden">
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Tên:</label>
                                            <input name="productName" class="txtEdit" id="edit_bnPhone" type="text" onblur="checkproductName_edit(this.value)">
                                            <label id="error_productName_edit" class="error-label"></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Mô tả:</label>
                                            <input name="productDescribe" class="txtEdit" id="edit_bnEmail" type="text" onblur="checkproductDescribe_edit(this.value)"><br>
                                            <label id="error_productDescribe_edit" class="error-label"></label>
                                        </div><br>
                                        <button onclick="checkEditProduct();" class="btnModal" id="btnEdit" type="button">Xác nhận</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div id="modalAddAuction" class="modal fade" role="dialog" style="z-index: 2000;">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title"><strong>THÊM PHIÊN ĐẤU GIÁ</strong></h4>
                                </div>
                                <div class="modal-body">
                                    <form action="/createauction" method="POST" id="formAddAuction">
                                        <input type="hidden" id="productID_addAuc" name="productID">
                                        <input type="hidden" id="businessID_addAuc" name="businessID">
                                        <input type="hidden" id="businessName_addAuc" name="businessName">
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Tên phiên đấu giá:</label>
                                            <input type="text" name="auctionName" id="auctionName" class="txtEdit" onblur="checkAuctionName(this.value)">
                                            <label id="error_AuctionName" style="text-transform: inherit;font-style: italic;color: red;font-size: 13px;font-weight: 400;"></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Thời gian khởi động đấu giá: <br><i style="color: green;">(Định dạng: mm/dd/yyyy hh:mm và không quá 30 ngày)</i></label>
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker1">
                                                    <input type="text" class="form-control txtEdit" name="startDate" id="startDate" onblur="checkAuctionDate(this.value)" />
                                                    <span class="input-group-addon">
                                                        <span class="">Chọn ngày</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <label id="error_AuctionDate" class="error-label"></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Nhập giá: <br><i style="color: green;">(Giá trị khởi đầu buổi đấu giá nhỏ hơn 100.000.000 VNĐ)</i></label>
                                            <input type="text" name="startPrice" id="startPrice" class="txtEdit" onblur="checkAuctionPrice(this.value)">
                                            <label id="error_AuctionPrice" class="error-label"></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Hạn chạy đấu giá: <br><i style="color: green;">(Tính bằng giây lớn hơn 30 giây và nhỏ hơn 3600 giây)</i></label>
                                            <input type="text" name="timeRun" id="timeRun" class="txtEdit" onblur="checkAuctionTimeRun(this.value)">
                                            <label id="error_AuctionTimeRun" class="error-label"></label>
                                        </div>
                                        <button class="btnModal" type="button" id="CheckFormAddAuction">Xác nhận</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <% var formatter = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }); %> <div class="row" style="margin-top: 20px;">
                    <div class="col-xs-12">
                        <div class="cart-table table-responsive mb-50">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="id" style="padding-left: 10px;"> #</th>
                                        <th class="id">ID</th>
                                        <th class="price">Hình ảnh</th>
                                        <th class="stock">Tên</th>
                                        <th class="stock">Sở hữu</th>
                                        <th class="mota">Mô tả</th>
                                        <th class="remove" style="width: 50px;">Thêm PĐG</th>
                                        <th class="remove" style="width: 50px;">Sửa</th>
                                        <th class="remove" style="width: 50px;">Xoá</th>
                                    </tr>
                                </thead><% var i = 1%> <tbody> <% function formatNumber(num) { return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')  + " VNĐ"} %> <% _uG.forEach((product) => { %> <%let current_datetime = new Date(product.auction.startDate);%> <%let formatted_date = current_datetime.getFullYear() + "-" + (current_datetime.getMonth() + 1) + "-" + current_datetime.getDate() + " " + current_datetime.getHours() + ":" + current_datetime.getMinutes();%> <tr>
                                        <td><strong><%= i %></strong></td>
                                        <td>
                                            <div class="cart-stock idTag"><%=product.productID%></div>
                                        </td>
                                        <td>
                                            <p class="cart-product text-left fix"><img src="https://abctestsdsd.s3.amazonaws.com/<%=product.productImage%>" alt="" />
                                            </p>
                                        </td>
                                        <td>
                                            <strong>
                                                <p class="cart-stock"><%=product.productName%></p>
                                            </strong>
                                        </td>
                                        <td>
                                            <strong>
                                                <p class="cart-stock"><%=product.ownerName%></p>
                                            </strong>
                                        </td>
                                        <td>
                                            <p class="cart-stock word-break_break-all"><%=product.productDescribe%></p>
                                        </td>
                                        <td><% if(product.count == 0){ %><button class="cart-pro-remove" data-toggle="modal" data-target="#modalAddAuction" onclick="addAutionBtn('<%=product.productID%>','<%= product.id %>','<%= product.ownerName %>')"><i class="zmdi zmdi-plus"></i></button><% }else{ %><i class="zmdi zmdi-check"></i><% }; %></td> <% let count = 0; %> <%for (var c in product.auction) { count = count + 1; } %> <% if(count > 0){ %><% var date = new Date(product.auction.startDate); %><% } %> <% var nowdate = new Date(); %> <% if(count > 0){ %> <% if (((nowdate.getTime() + 1000*60*60*7) - date.getTime()) < 0) { %> <% if (product.auction.bids.length == 0) { %> <td></td>
                                        <td><% if(product.count == 0){ %><a onclick="setHrefDel('/deleteProduct?productID=<%= product.productID %>&ownerID=<%= product.ownerID %>&owner=<%= product.ownerName %>&id=<%= product.id %>')"><button class="cd-popup-trigger cart-pro-remove"><i class="zmdi zmdi-close"></i></button></a><% }; %></td> <% } %> <% }else{ %> <% if (product.auction.bids.length == 0) { %> <td></td>
                                        <td><% if(product.count == 0){ %><a onclick="setHrefDel('/deleteProduct?productID=<%= product.productID %>&ownerID=<%= product.ownerID %>&owner=<%= product.ownerName %>&id=<%= product.id %>')"><button class="cd-popup-trigger cart-pro-remove"><i class="zmdi zmdi-close"></i></button></a><% }; %></td> <% }else{ %> <td></td>
                                        <td></td> <% } %> <% } %> <% }else{ %> 
                                        <td><% if(product.count == 0){ %><button class="cart-pro-remove" data-toggle="modal" data-target="#exampleModalCenter" onclick="setProductEdit_Input('<%= product.productID %>','<%= product.productName %>','<%=product.productDescribe%>','<%= product.id %>','<%= product.ownerName %>')"><i class="zmdi zmdi-edit"></i></button><% } %></td>
                                        <td><% if(product.count == 0){ %><a onclick="setHrefDel('/deleteProduct?productID=<%= product.productID %>&ownerID=<%= product.ownerID %>&owner=<%= product.ownerName %>&id=<%= product.id %>')"><button class="cd-popup-trigger cart-pro-remove"><i class="zmdi zmdi-close"></i></button></a><% }; %></td> <% } %>
                                    </tr> <% i++;%> <% }); %> </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fuild" style="background: #2c3338; padding-bottom: 100px; margin-top: 100px;">
                <h4 class="modal-title"><strong style="color: white;">QUY ĐỊNH VỀ SẢN PHẨM</strong></h4>
                <p style="text-align: center;color: white; padding-top: 30px;"> - Sản phẩm <strong>không được xóa hoặc sửa</strong> khi có <strong>một trong</strong> các điều kiện sau:</p>
                <p style="text-align: center;color: white;"> 1. Sản phẩm chưa có phiên đấu giá</p>
                <p style="text-align: center;color: white;"> <i>Đối với các sản phẩm có phiên đấu giá bạn phải xóa phiên đấu giá trước khi xóa hoặc sửa sản phẩm</i></p>
            </div>
        </div>
        <div class="cd-popup" role="alert">
            <div class="cd-popup-container">
                <p>Thay đổi trạng thái sản phẩm <br>Bạn có muốn tiếp tục hành động này?</p>
                <ul class="cd-buttons">
                </ul>
                <a class="cd-popup-close img-replace"></a>
            </div> <!-- cd-popup-container -->
        </div> <!-- cd-popup -->
        <!--Footer--> <% include element/footer %>
    </div>
    <!-- Body main wrapper end -->
    <!-- JS -->
    <!-- jQuery JS  -->
    <!-- partial -->
    <script src='js/moment-with-locales.js'></script>
    <script src='js/bootstrap-datetimepicker.js'></script>
    <!-- Bootstrap JS  -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins JS  -->
    <script src="js/plugins.js"></script>
    <!-- Particles Active JS  -->
    <script src="js/app.js"></script>
    <!-- partial -->
    <!-- partial -->
    <script src="js/scriptDel.js"></script>
    <!-- Main JS  -->
    <script src="js/main.js"></script>
    <script src="js/addNews.js"></script>
    <script src="js/swiper.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/checkForm.js"></script>
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });</script>
    <script>
        $(document).ready(function () {
            $(".menu_sanpham").addClass("active");
            $("#submitAddProduct").click(function () {
                $("#categoryID_txt").val($(listCaterory).children(":selected").attr("id"));
                var name = $("#productName_txt").val();
                var des = $("#productDescribe_txt").val()
                if (checkproductName(name) && checkproductDescribe(des)) {
                    if ($('#productImage').get(0).files.length === 0) {
                        $('#error_productImage').text("Chưa chọn ảnh!");
                    } else if (!(/\.(gif|jpg|jpeg|tiff|png)$/i).test($("#productImage").val())) {
                        $('#error_productImage').text("Chỉ được chọn tập tin là hình ảnh! (gif|jpg|jpeg|tiff|png)");
                    } else if ($('#productImage')[0].files[0].size > 2097152) {
                        $('#error_productImage').text("Chỉ chấp nhận kích thước ảnh nhỏ hơn 2MB!");
                    } else {
                        $('#formADD').submit();
                        $('#error_productImage').text("");
                    }
                }
            });

            $("#CheckFormAddAuction").click(function () {
                var name = checkAuctionName($("#auctionName").val());
                var date = checkAuctionDate($("#startDate").val());
                var price = checkAuctionPrice($("#startPrice").val());
                var timerun = checkAuctionTimeRun($("#timeRun").val());
                if (name && date && price && timerun) {
                    var date = new Date($("#startDate").val());
                    var nowdate = new Date();
                    var time = Number($("#timeRun").val());
                    if(Number($("#timeRun").val()) > 3600 || Number($("#timeRun").val()) < 30 ){
                        $('#error_AuctionTimeRun').text("Thời gian chạy không nằm trong giới hạn quy định");
                    }else if(Number($("#startPrice").val()) > 100000000 || Number($("#startPrice").val()) < 0){
                        $('#error_AuctionPrice').text("Giá tiền không nằm trong giới hạn quy định!");
                    }else if ((date.getTime() - (nowdate.getTime()) < 0 || (date.getTime() - (nowdate.getTime())) > (1000*60*60*24*30)) { 
                        $('#error_AuctionDate').text('Giới hạn ngày không phù hợp!');
                    } else {
                        $("#formAddAuction").submit();
                    }
                }
            });
        });

        function addAutionBtn(productID_addAuc, businessID_addAuc, businessName_addAuc) {
            document.getElementById("productID_addAuc").value = productID_addAuc;
            document.getElementById("businessID_addAuc").value = businessID_addAuc;
            document.getElementById("businessName_addAuc").value = businessName_addAuc;
        }

    </script>
    <script src="js/scriptDel.js"></script>
</body>

</html>