<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin site</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--SOCKETIO for Sign up-->
    <script src="socket.io/socket.io.js"></script>
    <script> var socket = io('http://localhost:3000'); </script>
    <script>
        function checkCategory() {
            var name = checkBusinessName(document.getElementById('categoryName').value);
            if (name) {
                socket.emit("Client_sent_data_category", document.getElementById('categoryName').value);
                socket.on("Server_sent_data_category", function (data) {
                    if (data) {
                        document.getElementById("categoryForm").submit();
                    } else {
                        document.getElementById("error_customerName").innerHTML = "Tên loại đã tồn tại";
                    }
                });
            }
        }

        function checkCategoryEdit() {
            var name = checkBusinessName(document.getElementById('edit_categoryName').value);
            if (name) {
                socket.emit("Client_sent_data_category", document.getElementById('edit_categoryName').value);
                socket.on("Server_sent_data_category", function (data) {
                    if (data) {
                        document.getElementById("categoryForm").submit();
                    } else {
                        document.getElementById("error_CategoryName").innerHTML = "Tên loại đã tồn tại";
                    }
                });
            }
        }

    </script>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Icon Font CSS-->
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css"> <!-- Plugins Import CSS -->
    <link rel="stylesheet" href="css/import.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <link href="css/color/color-1.css" rel="stylesheet">
    <link rel="stylesheet" href="css/addNews.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <!-- Delete CSS -->
    <link rel="stylesheet" href="css/styleDel.css">
    <!-- Modernizer JS -->
    <script src="js/jquery.min.js"></script>
</head>

<body>
    <!-- Pre Loader -->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one">
                </div>
                <div class="object object_two">
                </div>
                <div class="object object_three">
                </div>
            </div>
        </div>
    </div>
    <!-- Body main wrapper start -->
    <div class="wrapper bg-white fix">
        <!-- Header 4 --> <% include element/header %>
        <!-- Cart Area -->
        <div class="cart-area pb-90 pt-90 mt-100">
            <div class="container">
                <div class="row">
                    <div class="procced-checkout col-md-12 col-xs-12">
                        <button class="btn btn-open checkout-link">
                            <span>Thêm loại sản phẩm</span></button>
                    </div>
                    <section class="modal">
                        <div class="wrapper">
                            <div class="container">
                                <span class="icon-close"></span>
                                <div class="right">
                                    <div class="form">
                                        <h2 class="title">Thêm loại sản phẩm</h2>
                                        <form action="createCategory" method="POST" id="categoryForm">
                                            <div class="input-wrapper">
                                                <label for="">Nhập tên loại:</label>
                                                <input id="categoryName" type="text" placeholder="Name" onblur="checkCustomerName(this.value)" name="categoryName">
                                            </div>
                                            <label id="error_customerName" style="text-transform: inherit;font-style: italic;color: red;font-size: 13px;"></label>
                                            <button class="card__btn" type="button" onclick="checkCategory();"><span>Thêm</span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index: 2000;">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="editCategory" style="margin: 20px;" id="formEdit">
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Địa chỉ</label>
                                            <input name="address" class="txtEdit" id="edit_categoryName" type="text" onblur="checkCategoryName(this.value)">
                                            <label id="error_CategoryName" style="text-transform: inherit;font-style: italic;color: red;font-size: 13px;font-weight: 400;"></label>
                                        </div>
                                        <button onclick="checkCategoryEdit();" class="btn btn-warning" id="btnEdit" type="button" style="padding: 5px;">Xác nhận</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-xs-12">
                        <div class="cart-table table-responsive mb-50">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" style="width: 80px;padding-left: 10px;"> #</th>
                                        <th scope="col">Mã Loại</th>
                                        <th scope="col">Tên loại</th>
                                        <th scope="col" style="width: 150px;">Tình trạng</th>
                                        <th class="remove" style="width: 50px;">Sửa</th>
                                        <th class="remove" style="width: 50px;">Xoá</th>
                                    </tr>
                                </thead>
                                <tbody> <% var i = 1; %> <% if(_uG.length != 0){ %> <% _uG.forEach((item) => { %> <tr>
                                        <td><strong><%= i %></strong></td>
                                        <td><%= item.categoryID %></td>
                                        <td><%= item.categoryName %></td>
                                        <td><% if(item.isStatus){ %> ON <%}else{%> OFF <% } %></td>
                                        <td><% if(item.isStatus){ %><button class="cart-pro-remove" data-toggle="modal" data-target="#exampleModalCenter" onclick="setCategoryName_Input('<%= item.categoryName %>')"><i class="zmdi zmdi-edit"></i></button><% } %> </td>
                                        <td><% if(item.isStatus){ %> <a onclick="setHrefDel('/deleteCategory?categoryID=<%= item.categoryID %>')"><button class="cd-popup-trigger cart-pro-remove"><i class="zmdi zmdi-close"></i></button></a><% };%></td>
                                    </tr> <% i++ %> <% });%> <% };%> </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer--> <% include element/footer %>
        <!-- cd-popup -->
        <div class="cd-popup" role="alert">
            <div class="cd-popup-container">
                <p>Thay đổi trạng thái sản phẩm <br>Bạn có muốn tiếp tục hành động này?</p>
                <ul class="cd-buttons">
                </ul>
                <a class="cd-popup-close img-replace"></a>
            </div> <!-- cd-popup-container -->
        </div> <!-- cd-popup -->
    </div>
    <!-- Body main wrapper end -->
    <!-- JS -->
    <!-- jQuery JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/checkForm.js"></script>
    <!-- Bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="js/plugins.js"></script>
    <!-- Particles Active JS -->
    <script src="js/app.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>
    <script src="js/addNews.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".menu_loaisanpham").addClass("active");
        });
    </script>
    <script src="js/scriptDel.js"></script>
</body>

</html>