<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin site</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--SOCKETIO for Sign up-->
    <script src="socket.io/socket.io.js"></script>
    <script> var socket = io('http://3.86.166.71:3000'); </script>
    <script>
        function checkCustomer() {
            var name = checkCustomerName(document.getElementById('customerName').value);
            var username = checkUsername(document.getElementById('username').value);
            var pass = checkPassword(document.getElementById('passwordA').value);
            var repass = checkConfirmPassword(document.getElementById('re-password').value);
            var address = checkAddress(document.getElementById('address').value);
            var phone = checkPhone(document.getElementById('phoneA').value);
            var mail = checkEmail(document.getElementById('email').value);
            if (name && username && pass && repass && address && phone && mail) {
                socket.emit("Customer_check_username", document.getElementById('username').value);
                socket.on("Server_reply_username", function (data) {
                    if (data) {
                        document.getElementById("autopass").submit();
                    } else {
                        document.getElementById("error_username").innerHTML = "Username đã tồn tại";
                    }
                });
            }
        }

    </script>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts -->
    <link href="css/googleapisFont.css" rel="stylesheet">
    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Icon Font CSS-->
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <!-- Plugins Import CSS -->
    <link rel="stylesheet" href="css/import.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <link href="css/color/color-1.css" rel="stylesheet">
    <link rel="stylesheet" href="css/addNews.css">
    <link rel='stylesheet' href='css/swiper.css'>
    <link rel='stylesheet' href='css/swiper.min.css'>
    <!-- Modernizer JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Delete CSS -->
    <link rel="stylesheet" href="css/styleDel.css">
</head>

<body>
    <!-- Pre Loader -->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one">
                </div>
                <div class="object object_two">
                </div>
                <div class="object object_three">
                </div>
            </div>
        </div>
    </div>
    <!-- Body main wrapper start -->
    <div class="wrapper bg-white fix">
        <!-- Header 4 --> <% include element/header %>
        <!-- Cart Area -->
        <div class="cart-area pb-90 pt-90 mt-100">
            <div class="container">
                <div class="row">
                    <div class="procced-checkout col-md-12 col-xs-12">
                        <button class="btn btn-open checkout-link" data-toggle="modal" data-target="#modalAddCustomer"><span>Thêm khách hàng</span></button>
                    </div>
                    <div id="modalAddCustomer" class="modal fade" role="dialog" style="z-index: 2000;">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title"><strong>THÊM KHÁCH HÀNG</strong></h4>
                                </div>
                                <div class="modal-body">
                                    <form action="/createCustomer" method="POST" id="autopass">
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Tên khách hàng</label>
                                            <input name="customerName" id="customerName" type="text" onblur="checkCustomerName(this.value)" class="txtEdit">
                                        </div>
                                        <label id="error_customerName" class="error-label"></label>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Tên người dùng:<br><i style="color: green;">Mỗi tài khoản chỉ gồm 1 username duy nhất và không trùng lặp</i></label>
                                            <input name="username" id="username" type="text" onblur="checkUsername(this.value)" class="txtEdit">
                                        </div>
                                        <label id="error_username" class="error-label"></label>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Mật khẩu:</label>
                                            <input name="password" type="text" id="passwordA" onblur="checkPassword(this.value)" class="txtEdit" ></div>
                                        <label id="error_password" class="error-label"></label>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Nhập lại mật khẩu:</label>
                                            <input name="re-password" id="re-password" type="text" onblur="checkConfirmPassword(this.value)" class="txtEdit">
                                        </div>
                                        <label id="error_repassword" class="error-label"></label>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Địa chỉ:</label>
                                            <input name="address" id="address" type="text" onblur="checkAddress(this.value)" class="txtEdit">
                                        </div>
                                        <label id="error_address" class="error-label"></label>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Số điện thoại:<br><i style="color: green;">Các số điện thoại hiện hành tại VN gồm 10 số và bắt đầu từ 0</i></label>
                                            <input name="phone" id="phoneA" type="text" onblur="checkPhone(this.value)" class="txtEdit">
                                        </div>
                                        <label id="error_phone" class="error-label"></label>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Email:</label>
                                            <input name="email" id="email" type="email" id="email" onblur="checkEmail(this.value)" class="txtEdit">
                                        </div>
                                        <label id="error_email" class="error-label"></label>
                                        <button class="btnModal" type="button" onclick="checkCustomer();"><span>Xác nhận</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index: 2000;">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title"><strong>Chỉnh sửa thông tin KHÁCH HÀNG</strong></h4>
                                </div>
                                <div class="modal-body">
                                    <form action="editCustomer" style="margin: 20px;" id="formEdit" method="POST">
                                        <input name="customerID" id="customerIDEdit" type="hidden">
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Họ và tên</label>
                                            <input name="customerName" class="txtEdit" id="edit_customerName" type="text" onblur="checkBusinessName(this.value)">
                                            <label id="error_businessName" style="text-transform: inherit;font-style: italic;color: red;font-size: 13px;font-weight: 400;"></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Địa chỉ</label>
                                            <input name="address" class="txtEdit" id="edit_ddress" type="text" onblur="checkAddressEdit(this.value)">
                                            <label id="error_address_edit" style="text-transform: inherit;font-style: italic;color: red;font-size: 13px;font-weight: 400;"></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Số điện thoại</label>
                                            <input name="phone" class="txtEdit" id="edit_Phone" type="text" onblur="checkPhoneEdit(this.value)">
                                            <label id="error_phone_edit" style="text-transform: inherit;font-style: italic;color: red;font-size: 13px;font-weight: 400;"></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Email</label>
                                            <input name="email" class="txtEdit" id="edit_Email" type="text" onblur="checkEmailEdit(this.value)"><br>
                                            <label id="error_email_edit" style="text-transform: inherit;font-style: italic;color: red;font-size: 13px;font-weight: 400;"></label>
                                        </div><br>
                                        <button onclick="checkEditCustomer();" class="btnModal" id="btnEdit" type="button">Xác nhận</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-xs-12">
                        <div class="cart-table table-responsive mb-50">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" style="padding-left: 10px;"> #</th>
                                        <th scope="col">Mã KH</th>
                                        <th scope="col">Họ tên</th>
                                        <th scope="col">Địa chỉ</th>
                                        <th scope="col">Số điện thoại</th>
                                        <th scope="col">Mail</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Tình trạng</th>
                                        <th class="remove" style="width: 50px;">Sửa</th>
                                        <th class="remove" style="width: 50px;">Xoá</th>
                                    </tr>
                                </thead>
                                <tbody> <% var i = 1%> <% _uG.forEach(item => { %> <tr>
                                        <td><strong><%= i %></strong></td>
                                        <td><%=item.customerID%></td>
                                        <td><strong><%=item.customerName%></strong></td>
                                        <td><%=item.address%></td>
                                        <td><%=item.phone%></td>
                                        <td><%=item.email%></td>
                                        <td><%=item.username%></td>
                                        <td><% if(item.isStatus){ %> ON <%}else{%> OFF <% } %></td>
                                        <td><% if(item.isStatus){ %><button class="cart-pro-remove" data-toggle="modal" data-target="#exampleModalCenter" onclick="setCustomer_Input('<%= item.customerID %>','<%= item.customerName %>','<%= item.address %>','<%= item.phone %>','<%= item.email %>')"><i class="zmdi zmdi-edit"></i></button><% } %></td>
                                        <td><% if(item.isStatus){ %> <a onclick="setHrefDel('/deleteCustomer?customerID=<%= item.customerID %>')"><button class="cd-popup-trigger cart-pro-remove"><i class="zmdi zmdi-close"></i></button></a> <% } %></td>
                                    </tr><% i++ %> <% }) %> </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer--> <% include element/footer %>
        <!-- cd-popup -->
        <div class="cd-popup" role="alert">
            <div class="cd-popup-container">
                <p>Thay đổi trạng thái khách hàng <br>Bạn có muốn tiếp tục hành động này?</p>
                <ul class="cd-buttons">
                </ul>
                <a class="cd-popup-close img-replace"></a>
            </div> <!-- cd-popup-container -->
        </div> <!-- cd-popup -->
    </div>
    <!-- Body main wrapper end -->
    <!-- JS -->
    <script src="js/checkForm.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/5.0.7/sweetalert2.min.js'></script>
    <!-- jQuery JS  -->
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap JS  -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins JS  -->
    <script src="js/plugins.js"></script>
    <!-- Particles Active JS  -->
    <script src="js/app.js"></script>
    <!-- Main JS  -->
    <script src="js/main.js"></script>
    <script src="js/addNews.js"></script>
    <script src='js/swiper.js'> </script>
    <script src='js/swiper.min.js'></script>
    <!-- partial -->
    <script src="js/scriptDel.js"></script>
    <script>
        $(document).ready(function () {
            $(".menu_khachhang").addClass("active");
        });
    </script>
</body>

</html>