<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin site</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='js/jquery.min.js'></script>
    <!--SOCKETIO for Sign up-->
    <script src="socket.io/socket.io.js"></script>
    <script> var socket = io('http://localhost:3000'); </script>
    <script>
        $(document).ready(function () {
            $("#addProductBtn").click(function () {
                socket.emit("Client_sent_data_list_category");
                socket.on("Server_sent_data_list_category", function (data) {
                    var count = 0;
                    data.forEach(item => {
                        if (item.isStatus == true)
                            count++;
                    });
                    if (count == 0) {
                        $("#formADD").replaceWith("<h3><strong style='color:red;'>Chưa có loại sản phẩm nào tồn tại!</strong></h3><br><p>Đợi người quản trị thêm loại sản phẩm để thêm sản phẩm!</p>");
                    } else {
                        data.forEach(element => {
                            $("#listCaterory").append("<option id=" + element.categoryID + ">" + element.categoryName + "</option>");
                        });
                    }
                });
            })
        });
    </script>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts -->
    <link href="css/googleapisFont.css" rel="stylesheet">
    <!-- CSS -->
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/bootstrap-datetimepicker.css'>
    <!-- Icon Font CSS-->
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <!-- Plugins Import CSS -->
    <link rel="stylesheet" href="css/import.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <link href="css/color/color-1.css" rel="stylesheet">
    <link rel="stylesheet" href="css/addNews.css">
    <link rel="stylesheet" href="css/swiper.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <!-- Modernizer JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Delete CSS -->
    <link rel="stylesheet" href="css/styleDel.css">
</head>

<body>
    <!-- Pre Loader -->
    <div class="preloader">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object object_one">
                </div>
                <div class="object object_two">
                </div>
                <div class="object object_three">
                </div>
            </div>
        </div>
    </div>
    <!-- Body main wrapper start -->
    <div class="wrapper bg-white fix">
        <!-- Header 4 --> <% include element/header %>
        <!-- Cart Area -->
        <div class="cart-area pb-90 pt-90 mt-100">
            <div class="container">
                <div class="row">
                    <div class="procced-checkout col-md-12 col-xs-12">
                        <button id="addProductBtn" class="btn btn-open checkout-link">
                            <span>Thêm sản phẩm đấu giá</span></button>
                    </div>
                    <section class="modal">
                        <div class="wrapper">
                            <div class="container">
                                <span class="icon-close"></span>
                                <div class="right">
                                    <div class="form">
                                        <h2 class="title">Thêm sản phẩm đấu giá</h2>
                                        <form method="POST" action="/createproduct" id="formADD">
                                            <input type='hidden' name='categoryID' id='categoryID_txt'>
                                            <div class="input-wrapper">
                                                <label for="">Tên sản phẩm</label>
                                                <input name="productName" id="productName_txt" type="text" placeholder="Name" onblur="checkproductName(this.value)">
                                            </div>
                                            <label id="error_productName" style="text-transform: inherit;font-style: italic;color: red;font-size: 13px;"></label>
                                            <div class="input-wrapper">
                                                <label for="">Chọn loại sản phẩm</label>
                                                <select name="categoryName" id="listCaterory"></select>
                                            </div>
                                            <div class="input-wrapper">
                                                <label for="">Mô tả</label>
                                                <input name="productDescribe" id="productDescribe_txt" type="text" placeholder="Name" onblur="checkproductDescribe(this.value)">
                                            </div>
                                            <label id="error_productDescribe" style="text-transform: inherit;font-style: italic;color: red;font-size: 13px;"></label>
                                            <div class="input-wrapper">
                                                <label for="">Chọn hình ảnh</label>
                                                <input id="image" type="file" placeholder="Image">
                                            </div>
                                            <button class="btn" type="button" id="submitAddProduct"><span>Xác nhận</span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index: 2000;">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/editProduct" style="margin: 20px;" id="formEdit">
                                        <input name="owner" id="businessNameEdit" type="hidden">
                                        <input name="id" id="businessIDEdit" type="hidden">
                                        <input name="productID" id="productIDEdit" type="hidden">
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Tên:</label>
                                            <input name="productName" class="txtEdit" id="edit_bnPhone" type="text" onblur="checkproductName_edit(this.value)">
                                            <label id="error_productName_edit" style="text-transform: inherit;font-style: italic;color: red;font-size: 13px;font-weight: 400;"></label>
                                        </div>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Mô tả:</label>
                                            <input name="productDescribe" class="txtEdit" id="edit_bnEmail" type="text" onblur="checkproductDescribe_edit(this.value)"><br>
                                            <label id="error_productDescribe_edit" style="text-transform: inherit;font-style: italic;color: red;font-size: 13px;font-weight: 400;"></label>
                                        </div><br>
                                        <button onclick="checkEditProduct();" class="btn btn-warning" id="btnEdit" type="button" style="padding: 5px;">Xác nhận</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div id="modalAddAuction" class="modal fade" role="dialog" style="z-index: 2000;">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title"><strong>THÊM PHIÊN ĐẤU GIÁ</strong></h4>
                                </div>
                                <div class="modal-body">
                                    <form action="" style="padding: 20px;">
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Tên phiên đấu giá:</label>
                                            <input type="text" name="price" class="txtEdit">
                                        </div>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Thời gian khởi động đấu giá:</label>
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker1">
                                                    <input type="text" class="form-control" name="dateAuc" class="txtEdit" />
                                                    <span class="input-group-addon">
                                                        <span class="">Chọn ngày</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Nhập giá:</label>
                                            <input id="gia" type="text" name="price" class="txtEdit">
                                        </div>
                                        <div class="input-wrapper">
                                            <label class="labelEdit">Hạn cho mỗi lượt:</label>
                                            <input id="due" type="text" name="timerun" class="txtEdit">
                                        </div>
                                        <button class="btn btn-warning" id="btnEdit" type="button" style="padding: 5px; margin-top: 50px;">Xác nhận</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <% var formatter = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }); %> <div class="row" style="margin-top: 20px;">
                    <div class="col-xs-12">
                        <div class="cart-table table-responsive mb-50">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="id" style="padding-left: 10px;"> #</th>
                                        <th class="id">ID</th>
                                        <th class="price">Hình ảnh</th>
                                        <th class="stock">Tên</th>
                                        <th class="stock">Sở hữu</th>
                                        <th class="qty">Mô tả</th>
                                        <th class="remove" style="width: 50px;">Thêm PĐG</th>
                                        <th class="remove" style="width: 50px;">Sửa</th>
                                        <th class="remove" style="width: 50px;">Xoá</th>
                                    </tr>
                                </thead><% var i = 1%> <tbody> <% function formatNumber(num) { return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')  + " VNĐ"} %> <% _uG.forEach((product) => { %> <%let current_datetime = new Date(product.auction.startDate);%> <%let formatted_date = current_datetime.getFullYear() + "-" + (current_datetime.getMonth() + 1) + "-" + current_datetime.getDate() + " " + current_datetime.getHours() + ":" + current_datetime.getMinutes();%> <tr>
                                        <td><strong><%= i %></strong></td>
                                        <td>
                                            <div class="cart-stock idTag"><%=product.productID%></div>
                                        </td>
                                        <td>
                                            <p class="cart-product text-left fix"><img src="img/product/2.jpg" alt="" />
                                            </p>
                                        </td>
                                        <td>
                                            <strong>
                                                <p class="cart-stock"><%=product.productName%></p>
                                            </strong>
                                        </td>
                                        <td>
                                            <strong>
                                                <p class="cart-stock"><%=product.ownerName%></p>
                                            </strong>
                                        </td>
                                        <td>
                                            <p class="cart-stock"><%=product.productDescribe%> giây</p>
                                        </td>
                                        <td><button class="cart-pro-remove" data-toggle="modal" data-target="#modalAddAuction"><i class="zmdi zmdi-plus"></i></button></td>
                                        <td><button class="cart-pro-remove" data-toggle="modal" data-target="#exampleModalCenter" onclick="setProductEdit_Input('<%= product.productID %>','<%= product.productName %>','<%= product.productDescribe %>','<%= product.id %>','<%= product.ownerName %>')"><i class="zmdi zmdi-edit"></i></button></td>
                                        <td><a onclick="setHrefDel('/deleteProduct?productID=<%= product.productID %>&owner=<%= product.ownerName %>&id=<%= product.id %>')"><button class="cd-popup-trigger cart-pro-remove"><i class="zmdi zmdi-close"></i></button></a></td>
                                    </tr> <% i++;%> <% }); %> </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cd-popup" role="alert">
            <div class="cd-popup-container">
                <p>Thay đổi trạng thái sản phẩm <br>Bạn có muốn tiếp tục hành động này?</p>
                <ul class="cd-buttons">
                </ul>
                <a class="cd-popup-close img-replace"></a>
            </div> <!-- cd-popup-container -->
        </div> <!-- cd-popup -->
        <!--Footer--> <% include element/footer %>
    </div>
    <!-- Body main wrapper end -->
    <!-- JS -->
    <!-- jQuery JS  -->
    <!-- partial -->
    <script src='js/moment-with-locales.js'></script>
    <script src='js/bootstrap-datetimepicker.js'></script>
    <!-- Bootstrap JS  -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins JS  -->
    <script src="js/plugins.js"></script>
    <!-- Particles Active JS  -->
    <script src="js/app.js"></script>
    <!-- partial -->
    <!-- partial -->
    <script src="js/scriptDel.js"></script>
    <!-- Main JS  -->
    <script src="js/main.js"></script>
    <script src="js/addNews.js"></script>
    <script src="js/swiper.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/checkForm.js"></script>
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });</script>
    <script>
        $(document).ready(function () {
            $(".menu_sanpham").addClass("active");
            $("#submitAddProduct").click(function () {
                $("#categoryID_txt").val($(listCaterory).children(":selected").attr("id"));
                var name = $("#productName_txt").val();
                var des = $("#productDescribe_txt").val()
                if (checkproductName(name) && checkproductDescribe(des)) {
                    $("#formADD").submit();
                }
            });
        });
    </script>
    <script src="js/scriptDel.js"></script>
</body>

</html>